.badge-pink {
    background-color: #b20839 !important;
    color: #ffffff !important;
}
.pills-pink .nav-link.active {
    background-color: #b20839 !important;
}
.pink-gradient, .pink-skin .side-nav {
  background: #000000;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #000000 0%, #880e4f 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #000000 0%, #880e4f 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #000000 0%, #880e4f 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#880e4f',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
}
.pink-skin {
  /* Select colors */
}

.pink-skin .primary-color, .pink-skin .stepper li.active a .circle, .stepper li.active a .pink-skin .circle, .pink-skin .stepper li.completed a .circle, .stepper li.completed a .pink-skin .circle {
  background-color: #b20839 !important;
}

.pink-skin .navbar {
  background-color: #fff;
}

.pink-skin .page-footer {
  /*background-color: #7e103b;*/
  background-color: #f7f7f7;
  border-top: 1px solid #ddd;
}
.pink-skin footer.page-footer.light-footer {
    color: #b20839;
}
.pink-skin footer.page-footer.light-footer a {
    color: #b2093a;
}
.menu-footer-menu-container ul {
    color: #b20839;
}

.pink-skin .side-nav .logo-wrapper {
  background: url("http://mdbootstrap.com/images/regular/nature/img%20(73).jpg") no-repeat center center;
  background-size: cover;
}

.pink-skin .side-nav .sn-avatar-wrapper img {
  border: 3px solid #7e103b;
}

.pink-skin .side-nav .social a:hover {
  background-color: #951246;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.pink-skin .side-nav .collapsible li {
  background-color: transparent;
}

.pink-skin .side-nav .collapsible li a.active {
  background-color: #ab1550;
}

.pink-skin .side-nav .collapsible li a:hover {
  background-color: #ab1550;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.pink-skin .side-nav .fa {
  color: rgba(227, 242, 253, 0.64);
}

.pink-skin .navbar .navbar-nav .dropdown .dropdown-primary .dropdown-item:hover {
  background-color: #ab1550;
}

.pink-skin .btn-white {
    background-color: #ffffff !important;
    color: #b20839 !important;
}
/*
dark pink
*/
.pink-skin .btn-primary {
  background: #c2185b;
}

.pink-skin .btn-primary:hover, .pink-skin .btn-primary:focus {
  background-color: #d91b66 !important;
}

.pink-skin .btn-primary.active {
  background-color: #670d30 !important;
}
/*
light pink
*/
.pink-skin .btn-secondary {
  background: #303f9f;
}

.pink-skin .btn-secondary:hover, .pink-skin .btn-secondary:focus {
  background-color: #3647b3 !important;
}

.pink-skin .btn-secondary.active {
  background-color: #182051 !important;
}

.pink-skin .btn-default,
.pink-skin .card .btn-action {
  background: #21109C;
}
/*
gray
*/
.pink-skin .btn-default:hover, .pink-skin .btn-default:focus,
.pink-skin .card .btn-action:hover,
.pink-skin .card .btn-action:focus {
  background-color: #2612b3 !important;
}

.pink-skin .btn-default.active,
.pink-skin .card .btn-action.active {
  background-color: #0d073f !important;
}

.pink-skin input[type="email"]:focus:not([readonly]), .pink-skin input[type="text"]:focus:not([readonly]), .pink-skin input[type="password"]:focus:not([readonly]), .pink-skin textarea.md-textarea:focus:not([readonly]) {
  border-color: #c2185b;
  box-shadow: 0 1px 0 0 #c2185b;
}

.pink-skin input[type="email"]:focus:not([readonly]) + label, .pink-skin input[type="text"]:focus:not([readonly]) + label, .pink-skin input[type="password"]:focus:not([readonly]) + label, .pink-skin textarea.md-textarea:focus:not([readonly]) + label {
  color: #c2185b;
}

.pink-skin input[type=checkbox]:checked + label:before {
  border-right: 2px solid #c2185b;
  border-bottom: 2px solid #c2185b;
}

.pink-skin input[type=checkbox].filled-in:checked + label:before {
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
}

.pink-skin input[type=checkbox].filled-in:checked + label:after {
  background-color: #c2185b;
  border-color: #c2185b;
}

.pink-skin .md-form .prefix.active {
  color: #c2185b;
}

.pink-skin .dropdown-content li:not(.disabled) span {
  color: #c2185b;
}

.pink-skin .top-nav-collapse {
  background-color: #c2185b;
}

.pink-skin .carousel-multi-item .controls-top > a, .pink-skin .carousel-multi-item .carousel-indicators li, .pink-skin .carousel-multi-item .carousel-indicators li.active {
  background-color: #c2185b;
}

.pink-skin .tag, .pink-skin .form-header, .pink-skin .card-header {
  background-color: #cb195f;
}